.stepthree-container {
    padding: 20px;
  }
  
  .results-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .results-title {
    color: #00D1FF;
    margin-bottom: 15px;
  }
  
  .results-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto; /* Uzun sonuçlar için kaydırma çubuğu */
  }
  
  .results-content {
    white-space: pre-wrap; /* Sonuçları düzgün şekilde göstermek için */
    text-align: left;
  }
  
  .no-results-message {
    color: #ff0000;
  }
  