.testtt{
    background-color: red;
}

.stepBtn{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 52px;
    padding-right: 52px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #2B2B2B;
    border: 2px solid #00D1FF;
    color: #00D1FF;
    cursor: pointer;
  
  }

  .stepOneOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 6px;
  }
  
  .stepOneOptions {
    height: 96px;
    width: 96px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--blue, #00D1FF);
    transition: border-color 0.3s;
  }
  
  .stepOneOptions:hover {
    background-color: #00D1FF;
    cursor: pointer;
  }
  
  .stepOneOptions p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }